#container{
    width 600px;
    height:400px;
    background-color: black;
    margin-left: 0px;
    margin-top: 0px;

}

.row{
    margin: -4px;
}

.brick{
    width: 20px;
    height: 20px;
    margin-left: 0px;
    display: inline-block;
    background-color: blue;
}

.coin{
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url('images2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}


.empty{
    width: 20px;
    height: 20px;
    display: inline-block;
}

#pacman{
    width: 20px;
    height: 20px;
    background: url('pacman.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    
}